doctype xml
rss(version='2.0')
  channel
    title= 'Tim Douglas'
    description= 'Nascent Developer - Visual Designer - Burger Maven'
    link= 'http://timdouglas.co/articles'
    language= en

    for post in globals
      item
        title= post.title
        pubDate= post.date
        description= post.description
        link= 'http://timdouglas.co/articles/' + post.shortname